  <div class="cart_head">
    <span class="slab-font">My Cart ({{cart_item.count}})</span> 
  </div>
  <div class="cart_inner">
    {% for cItem in cart_item %}
      <div class='myCart_items'>
        <div class='cart_items_img'>
          <img src="{{cItem.item.pic.url}}" alt="" style="">
        </div>
        <div class='cart_items_name'>
          {{cItem.item.name}}
        </div>
        <div class='cart_items_quantity'>
          <div class="" style="position: relative;">
            <div class="quantity_class plus" onclick="update_quantity(`{{cItem.id}}`,'minus')">
              <i class="fal fa-minus"></i>
            </div>
            
              <input id="quantity_input{{cItem.id}}" class="qnty_input"
                type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" value="{{cItem.quantity}}">
            
            <div class="quantity_class minus"  onclick="update_quantity(`{{cItem.id}}`,'plus')">
              <i class="fal fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="item_remove">
          <div class="cart_items_price">₹ {{cItem.item.price}}</div>
          <div class="remove">
            <a href="#" onclick="remove_item(`{{cItem.id}}`)">
              <span style="font-weight: 500; cursor: pointer;">
                REMOVE
              </span>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='cart_footer'>
    <div class="price">
      Total Price : ₹ <span id="total_price"> {{total_price}} </span>
    </div>
    <div>
      <button class="btn my_btn" onclick="placeOrder()">Place Order</button>
    </div>

  </div>